In [10]:
import pandas as pd
import numpy as np
import time
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00519/heart_failure_clinical_records_dataset.csv')

In [4]:
df.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [15]:
df['DEATH_EVENT'].value_counts()

0    203
1     96
Name: DEATH_EVENT, dtype: int64

In [23]:
negative = df[df['DEATH_EVENT']==0].sample(n=90)
positive = df[df['DEATH_EVENT']==1].sample(n=90)
df2 = (pd.concat([negative,positive])).sample(frac=1)

In [24]:
X = df2.drop("DEATH_EVENT", axis = 1)
y = df2['DEATH_EVENT']

# DECISION TREE

In [25]:
start = time.time()
dt = DecisionTreeClassifier(max_depth=5)
scores = cross_val_score(dt,X,y,cv=10)
stop = time.time()
print('mean accuracy: ',np.mean(scores))
print('time taken: ',100*(stop-start))

mean accuracy:  0.75
time taken:  4.003000259399414

# RANDOM FORESTS

In [26]:
start = time.time()
rfc = RandomForestClassifier(max_depth = 5)
scores = cross_val_score(rfc,X,y,cv=10)
stop = time.time()
print('mean accuracy: ',np.mean(scores))
print('time taken: ', 100*(stop-start))

mean accuracy:  0.8166666666666668
time taken:  96.90237045288086

For this dataset using a random forest only increased the accuracy a tiny amount.  Maybe random forests are not suited for this dataset? The time taken for the random forest was almost 25x.  For a large dataset this would be computationally expensive.