In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.dummy import DummyClassifier
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score, classification_report
from sklearn.metrics import roc_curve, precision_recall_curve, roc_auc_score

In [2]:
df_train_data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst', 
                            header=None, sep=' ')

In [4]:
df_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14500 entries, 0 to 14499
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14500 non-null  int64
 1   1       14500 non-null  int64
 2   2       14500 non-null  int64
 3   3       14500 non-null  int64
 4   4       14500 non-null  int64
 5   5       14500 non-null  int64
 6   6       14500 non-null  int64
 7   7       14500 non-null  int64
 8   8       14500 non-null  int64
 9   9       14500 non-null  int64
dtypes: int64(10)
memory usage: 1.1 MB

In [3]:
df_train_data.head()

    0  1   2  3   4   5   6   7   8  9
0  55  0  81  0  -6  11  25  88  64  4
1  56  0  96  0  52  -4  40  44   4  4
2  50 -1  89 -7  50   0  39  40   2  1
3  53  9  79  0  42  -2  25  37  12  4
4  55  2  82  0  54  -6  26  28   2  1

# Split the Dataframe into X and Y

In [9]:
X = df_train_data.drop(9, axis=1)
y = df_train_data[9]

In [10]:
y.unique()

array([4, 1, 5, 3, 2, 7, 6], dtype=int64)

# For binary classification, convert y values into 2 classes, the 1 class and the rest as zeros.

In [12]:
y = np.where(y==1,1,0)

# Split into train-test sets

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=675)

# Create a logistic regression model

In [17]:
lr = LogisticRegression(solver='lbfgs', penalty='none', max_iter=1000)

In [18]:
lr.fit(X_train, y_train)

LogisticRegression(max_iter=1000, penalty='none')

# Calculate Acccuracy

In [19]:
lr.score(X_test, y_test)

0.9740689655172414

# compare to a dummy classifier